body {
    background-color: white;
    /*
    background-image: url(../Imagenes/ImagenLogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    */
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
}

.ContenedorCentral {
    margin-top: 100px;
    width: 100%;
    margin-bottom: 100px;
}

.ContenedorCentral .ContenedorIndex {
    width: 86%;
    background-image: url(../Imagenes/BaseTransparente85.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 5px;
    border-radius: 15px;
    margin: 10px;
}

.ContenedorCentral .ContenedorIndex .ContenedorLogoOperacion {
    margin-top: -75px;
    margin-bottom: 35px;
    margin-right: -5%;
    width: 300px;
    height: 250px;
}

.ContenedorCentral .ContenedorIndex .ContenedorLogoOperacion img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border-style: groove;
    border-width: 4px;
}

.ContenedorCentral .ContenedorIndex .ContenedorLogoUni {
    margin-top: -75px;
    margin-bottom: 35px;
    margin-left: -5%;
    width: 300px;
    height: 250px;
}


.ContenedorCentral .ContenedorIndex .ContenedorLogoUni img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    border-style: groove;
    border-width: 4px;
}

.parrafo {
    color: white;
}

.titulo1 {
    color: #212D53;
    font-size: 35px;
}

.titulo2 {
    color: #2C4DB9;
    font-size: 30px;
}

.Buttons {
    background-color: white;
    border: none;
    padding: 12px;
}

.Inputs {
    border: 2px solid;
    background-color: gray;
    color: white;
    padding: 10px;
}

.Buttons:hover {
    background-color: #00acc9;
}

.footer {
    background-color: #202945;
    height: 100px;
    padding: 10px;
}

.footer p {
    margin: 5px;
    text-align: center;
}

.footer img {
    width: 100px;
    height: 90px;
}

.InformacionFormulario {
    text-align: center;
}

.Contenido {
    text-decoration: none;
    margin-bottom: 10px;
}

table .Inputs {
    width: 100%;
}

table .Buttons {
    width: 100%;
}

.HiperVin {
    text-decoration: none;
    color: green;
    padding: 5px;
    border: 2px solid;
}

.HiperVin:hover {
    font-size: 20px;
    color: greenyellow;
    border: 2px solid;
}

.Checklist {
    margin: 5px;
    padding: 0;
}

.Checklist label {
    margin: 10px;
}

.Checklist input[type=checkbox] {
    display: none;
    padding: 0;
    margin: 0;
}

.Checklist input[type=checkbox]+label {
    cursor: pointer;
}

.Checklist label:before {
    content: "";
    background: transparent;
    border: 4px solid #88c64b;
    text-shadow: 3px -2px 2px gray;
    border-radius: 10px;
    display: inline-block;
    height: 30px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
    width: 30px;
}

.Checklist input[type=checkbox]:checked+label:before {
    content: '✓';
    font-size: 15px;
    color: #88c64b;
    margin: 0;
    padding: 0;
}

/* Diseños Ventana */
.ventana {
    width: 100%;
    height: 100%;
    color: white;
    position: fixed;
    background-image: url(../Imagenes/BaseTransparente75.png);
    top: 0;
    left: 0;
    display: none;
}

.form {
    left: 15%;
    width: 70%;
    height: 65%;
    margin: auto 0;
    position: absolute;
    padding: 25px;
    background-color: gray;
    color: black;
}

/* Acordeones */
div.acordeon {
    margin: 10px;
    width: 98%;
    padding: 0;
    font-size: 20px;
}

.acordeon {
    width: 100%;
    /* background-color: #f1f1f1; */
    /* margin: auto; */
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .5);
}

.acordeon input {
    width: 98%;
    padding: 10px;
    border: none;
}

.acordeon input::placeholder {
    text-align: center;
    font-size: 15px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.acordeon section div {
    margin: 0;
    overflow: hidden;
    max-height: 0;
    background: #e4e4e4;
    transition: all 0.3s ease-in;
}

.acordeon section a {
    width: 100%;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 10px;
    background-color: #9dba10;
}

.acordeon section:target div {
    width: 100%;
    max-height: 1000px;
    padding: 10px;
    transition: all 0.1s ease-in;
}
.NomUsuario {
    margin: 0;
    font-size: 13px;
    padding-left: 10px;
    font-weight: normal;
}

.Comentario {
    margin: 0;
    font-size: 18px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: normal;
}
