body
{
    background-image: url(../Imagenes/ImagenLogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

p {
    color: white;
}

h1 {
    color: #202945;
}

.footer {
    background-color: #202945;
    padding: 10px;
}

.footer p {
    color: white
}

.Buttons {
    background-color: white;
    border: none;
    padding: 10px;
}

.Inputs {
    border: none;
    background-color: gray;
    color: white;
}

.Buttons:hover {
    background-color: #00acc9;
}

.ContenedorCentral
{
    margin-top: 100px;
    width: 100%;
}
.ContenedorCentral .ContenedorIndex
{
    width: 90%;
    border-radius: 15px;
    background-color: #E2E2E2;
}
.ContenedorCentral .ContenedorIndex .ContenedorLogoOperacion img
{
    width: 90%;
    height: 90%;
    border-radius: 20px;
    border: 2px solid;
}

.ContenedorCentral .ContenedorIndex .ContenedorLogoUni
{
    margin-top: -75px;
    margin-bottom: 35px;
    margin-left: 15px;
    width: 200px;
    height: 200px;
}


.ContenedorCentral .ContenedorIndex .ContenedorLogoUni img
{
    width: 90%;
    height: 90%;
    border-radius: 20px;
    border: 2px solid;
}
.ContenedorContenido{
    align-items: center;
}
.ContenedorContenido button{
    border: none;
    background-color: transparent;
    width: 250px;
    height: 250px;
}
.ContenedorContenido button img{
    width: 100%;
}

