div.acordeon {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 98%;
  padding: 0;
  font-size: 20px;
}

.acordeon{
  width: 100%;
  box-shadow: 7px 13px 37px rgba(0, 0, 0, .5);
  margin: 0;
  padding: 0;
}

.acordeon div{
  margin:0 ;
  padding: 0;
  overflow: hidden;
  max-height: 0;
  background: #e4e4e4;
  transition: all 0.3s ease-in;
}

.acordeon h3{
width: 100%;
margin: 0;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 10px;
  background-color: #9dba10;
}